@import '../../common/colors.scss';

.movie-section{
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 0;
    color: $font-primary;

        @media(max-width: 720px ){
            flex-direction: column-reverse;
            .section-right {
                        img{
                            width:100%;
                        }
                }  
                 .section-left{
                    margin-top: 30px;
                 }    
        }
        
    
    .section-left{
        display:flex;
        flex-direction: column;
        margin-right:20px;
        gap: 20px;
    
        .movie-title{
        
            font-weight: 800;
            font-size: 40px;
        }
        .movie-rating{
            display: flex;
            gap: 20px;
            color:$font-secondary;
            flex-wrap: wrap;
            span{
                display: flex;
                gap:3px;
                .star{
                    color: gold
                }
                .thumbs-up{
                    color: #ffffff;
                }
                .file{
                    color: rgb(191,213,214)
                }
                .time{
                    color: #ffffff;
                }
            }
        }
        .movie-plot{
            line-height: 1.8rem;
            text-align: justify;
        
        }
        .movie-info{
            display:flex;
            flex-direction: column;
            gap:20px;
            div{
                display: flex;
                span:first-child{
                    width: 15%;
                    color: $font-primary;
                    font-weight: bold;
                }

                span{
                    color: $font-secondary;
                    width: 85%;
                    }

                    @media(max-width: 930px ){
                   span:first-child{
                    width: 25%;
                }
                span{
                    color: $font-secondary;
                    width: 75%;
                    }
                }

                @media(max-width: 600px ){
                   span:first-child{
                    width: 40%;
                }
                span{
                    color: $font-secondary;
                    width: 60%;
                    }
                }
            }
            
        }
    }
}
 

